/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Calculator container styles */
.calculator {
  margin: 50px auto;
  width: 300px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Display styles */
.display {
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.display input[type="text"] {
  font-size: 36px;
  border: none;
  outline: none;
  text-align: right;
  width: 100%;
  height: 100%;
  padding: 10px;
}

/* Button styles */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

button {
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 60px;
}

/* Number button styles */
.number {
  background-color: #fff;
  color: #333;
}

/* Operator button styles */
.operator {
  background-color: #f2f2f2;
  color: #666;
}

/* Clear button styles */
#clear {
  
  grid-row: 5/7;
  background-color: #ff6961;
  color: #fff;
}

/* Equals button styles */
#equals {
  grid-column: 5/3;
  background-color: #4caf50;
  color: #fff;
}

#backspace {
  grid-row: 4/7;
  background-color: #fff;
  color: #333;
}

.number:hover {
  background-color: #ccc;
  color: #fff;
}

.operator:hover {
  background-color: #ccc;
  color: #333;
}

#clear:hover {
  background-color: #ff7b73;
}

#equals:hover {
  background-color: #56c153;
}

#backspace:hover {
  background-color: #ccc;
  color: #fff;
}
